#classImage{

    -fx-border-color: pink;
}





#modelBackground{
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-border-radius: 2;
    -fx-border-color: black;
}

#hpDisplay{
    -fx-text-fill: black;
    -fx-alignment: center;
}

#hpBar{
    -fx-fill: green;

}

#healthPane{
    -fx-background-color: red;
}

#empty{
    -fx-background-color: chartreuse;
}

#close{
    -fx-background-color: blue;
    -fx-min-width: 10;
    -fx-min-height: 10;
}

#victoryLabel{
    -fx-font-size: 20;
    -fx-border-color: black;
    -fx-border-radius: 2;
}