.label{
    font-size: 100px;
}

#placeImage{
    -fx-fit-to-height: 10;
    -fx-fit-to-width: 10;
}

#classImage{

    -fx-border-color: pink;
}

#modelBackground{
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-border-radius: 2;
    -fx-border-color: black;

}

#hpDisplay{
    -fx-text-fill: black;
    -fx-alignment: center;
}

#hpBar{
    -fx-fill: green;


}

#healthPane{
    -fx-background-color: red;

}

#xpBar{
    -fx-fill: darkcyan;

}
#xpContainer{
    -fx-background-color: cyan;
}

xpLabel{
    -fx-text-fill: yellow;
}

#cardImage{
    -fx-border-radius: 2;
    -fx-border-color: black;
}